#game {
    padding-top: 20px;
    margin-left: 600px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #FFF;
}

#menu {
    text-align: center;
}

#whoStart{
    margin-bottom: 10px;
}

.gamePosition {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #CCC;
}

 #position1 {
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: rgb(18, 52, 87);
}

#position2 {
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: rgb(6, 8, 10);
}

#position3 {
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: rgb(18, 52, 87);
}

#position4 {
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: rgb(6, 8, 10);
}

#position5 {
    border: 1px solid #FFF;
    background-color: rgb(18, 52, 87);
}

#position6 {
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: rgb(6, 8, 10);
}

#position7 {
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    background-color: rgb(18, 52, 87);
}

#position8 {
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    background-color: rgb(6, 8, 10);
}
#position9 {
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    background-color: rgb(18, 52, 87);
}